/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
                        Start Mobile first
   ========================================================================== */
                       /*--------Commun ruls---------*/


     *{
        box-sizing: border-box;
        /*margin: 0;*/
     } 
     .nomobile 
     {
        display: none;
     }                
            /*----------------------Accueill for mobil--------------------*/


                             /*----------header style------*/       
     header 
     {
        display:flex;
        justify-content: flex-end;
        height: 50px;
        background-color: rgb(245,107,42);
        align-items:  center;
        flex-direction: row-reverse;

     }

     header .logo
     {
         width: 40%;
         height: 60%;
         align-self: center;
        margin:0 20%;



     }
     header .logo img
     {
        width: 100%;
        height: 100%;
     }
     
     header .menumobile
     {
        width: 65px;
        height: 41px;
        align-self: flex-end;

       
        border: 1px solid transparent;
     }
     header .menumobile button
     {
        padding: 8px;
        background-color: white;
        color:rgb(245,107,42);
        border:none; 
        font-size: 14px;
        border-radius: 4px;
        margin-left: 10px;
     }                  
                            /*---------- style pricipal section------*/  

     .principalsect
     {
        width: 90%;
        margin:auto;
     }
     
     .principalsect  h1
     {
        font-size: 15px;
        font-family: "OpenSansSemiBold",sans-serif

     }
      .principalsect h1 span
      {
        color: rgb(247,120,42);
      }

     .principalsect .map-and-aticle
     {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;

     }
     .principalsect .map-and-aticle .art-actual
     {
        width: 100%;
        height: 120px;
       margin-bottom: 30px;
     }
                 
                                  /*--------------style button rechercher ---------------*/   

     .principalsect .map-and-aticle .art-actual .depo-recher
     {
        display :flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: center;

     }


     .principalsect .map-and-aticle .art-actual .depo-recher button
     {
        min-width: 53%;
        background-color: rgb(76,148,239);
        color:white;
        border:none;
        padding: 8px;
        border-radius: 4px;
        font-size: 14px;
     }
     .principalsect .map-and-aticle .art-actual .depo-recher .boutondeux
     {
        background-color: white;
        color:rgb(76,148,239);
        border:1px solid rgb(76,148,239);
        font-size: 13px;
     }
     .principalsect .map-and-aticle .art-actual .depo-recher button i
     {
        font-size: 14px;
        margin-right: 5px;
     }
     .principalsect .map-and-aticle .art-actual .depo-recher .boutondeux:hover
     {
          background-color: rgb(217,230,247);

     }   
      
                             /*--------------style mapfrance---------------*/   

     .principalsect .map-and-aticle .mapfrance
     {
        width: 90%;
     }
     .principalsect .map-and-aticle .mapfrance img
     {
        width: 100%;
     }

                            /*---------style select choix région------------*/
    .principalsect  .choisregion
    {

        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
   .principalsect  .choisregion form
   {
        width: 100%;

   }
   .principalsect  .choisregion form select
   {
        width: 100%;
        padding: 8px;
        
   }
                            /*--------------style actualite article---------------*/   
   .principalsect .map-and-aticle .actualite
   {
        width: 100%;
        margin: auto;
        border:1px solid green;

   }
   .principalsect .map-and-aticle .actualite  figure
   {
        width: 100%;
        border:1px solid pink;
        margin:auto;

   }
   .principalsect .map-and-aticle .actualite  figure img
   {
      width: 100%;
   
    }
                        /*--------------style  le boncoin description section---------------*/  

 .description
 {
    width: 90%;
    margin: auto;
    font-size: 14px;
    text-align: justify;
 }
 .description a
 {
    text-decoration: none;
 }
                     
                   /*--------------style footer  fo mobile---------------*/ 
 footer
 {
    background-color: rgb(71,71,71);
 } 

 footer .copyright 
 {
    display :flex;
    justify-content: space-between;
    /*align-items: center;*/

 } 

 footer .left
 {

    font-size: 15px;
    color: white;
    margin-left: 5px;
 }
 footer .droite i
 {
    margin: 5px 5px;
 } 

 footer .droite  .fa-facebook-square
 {
    color: rgb(59,89,152);
    font-size: 30px;
     
 }
footer .droite   .fa-twitter-square          
 {
  
   color:#00b0ed; 
   font-size: 30px;
 }
 
                      






            /*----------------------desposer annonce for mobil--------------------*/ 
            /*--------------------------------------------------------------------*/


.imgtablet 
{
    display:none;
}
.depoannonce 
{
    width: 92%;
    margin:auto;
}

.depoannonce h1
{

    color:rgb(152,152,152);
    font-size: 18px;  
            
}
.depoannonce hr
{

    color: rgb(152,152,152);
    
}

.depoannonce .formulaire
{
    margin-top: 20px;
}
.depoannonce .formulaire form .form1
{
    border: 1px solid rgb(152,152,152) ;
    margin-bottom: 20px;

}
.depoannonce .formulaire form .form1 h2
{
    height: 45px;
    background-color:rgb(102,102,102);
    margin-top: 0px;
    font-size: 15px;
    color: white;
    vertical-align: center;
    padding-left: 10px;
    padding-top: 10px;
}
.depoannonce .formulaire form .form1 .elemtform
{
    width: 95%;
    margin: auto;
}
.depoannonce .formulaire form .form1 .elemtform .label, .depoannonce .formulaire form .form1  .label
{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}
.depoannonce .formulaire form .form1 .elemtform .label1
{
    font-size: 14px;
}

.depoannonce .formulaire form .form1 .elemtform select
{
    width: 100%;
    padding:3px;
}
.depoannonce .formulaire form .form1 .elemtform input[type="textearea"], .depoannonce .formulaire form .form1 .elemtform input[type="texte"], .depoannonce .formulaire form .form1 .elemtform input[type="tel"] 
{
    width: 100%;
    padding: 5px;
}
.depoannonce .formulaire form .form1 .elemtform input[type="textearea"]
{
    height: 200px;
}
.depoannonce .formulaire form .form1 .elemtform .images p
{
    font-size: 13px;
}
.depoannonce .formulaire form .form1 .elemtform .images .image
{
   display:flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: 10px;
}
.depoannonce .formulaire form .form1 .elemtform .images .image .img1
{
    width: 25%;
    height: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.depoannonce .formulaire form .form1 .elemtform .images .image .imgsup
{
    width: 100%;
    height: 80px;
}
 
.depoannonce .formulaire form .form1 .inputs
{
    width: 95%;
    margin: auto;

}
.depoannonce .formulaire form .form1 .inputs .labelinput 
{
    width: 100%;
    margin: auto;
}
.depoannonce .formulaire form .form1 .inputs input[type="texte"], .depoannonce .formulaire form .form1 .inputs input[type="email"], .depoannonce .formulaire form .form1 .inputs input[type="tele"]
{
    width: 100%;
    padding: 5px;
} 

.depoannonce .formulaire form .form1 .inputs .labelinput input, .depoannonce .formulaire form .form1 .inputs label, .depoannonce .formulaire form .form1 .elemtform input
{
    margin-top:5px;
    margin-bottom: 5px;
}

.depoannonce .formulaire form .form1  .inputs .labelinput #ville, .depoannonce .formulaire form .form1  .inputs .labelinput #adresse
{
    
    padding: 5px;
    width: 100%;
    
}
.depoannonce .formulaire form .form1  .inputs .labelinput input[placeholder]
{
    font-size: 13px;
}
.depoannonce .formulaire form  .inputs .labelinput input[type="submit"]
{
   
    background-color: rgb(249,180,147);
    color:white; 
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    width: 100%;
    border-radius: 3px;
    margin:15px auto;
    text-align: center;                             
}
.depoannonce .formulaire form input[type="submit"]
{
    background-color: rgb(76,148,239);
    padding: 8px;
    font-weight: bold;
    color: white;
    border:none;
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.depoannonce .formulaire form span
{
    font-size: 12px;
    font-weight: bold;
    float: right;
}


                     /*----------------------Offre for mobil--------------------*/  
                    /*---------------------------------------------------------*/       


                              /*------style header for offre.html--------*/
header #searchoffre
{
    width: 80px;
    height: 50px;
}
header #searchoffre button
{
    width: 70px;
    height: 40px;
    margin-top:5px;
    margin-right: 10px;
}
header #searchoffre i
{
    color:rgb(245,107,42)
}
                            /*------style principal section for offre.html--------*/

.principaloffre
{
    width: 95%;
    margin: auto;
}
.principaloffre h1
{
    font-size: 15px;
    color:#989898;
}

.principaloffre .mainsection
{
    
    margin: auto; 
    margin-top: 30px;
}

                            /*-------style aside annonce-une for offre.html--------*/ 

.principaloffre .mainsection .annonce_une
{
    border:2px solid rgb(245,107,42);
    height: 400px;
    padding: 0px;
    width: 100%;

}
.principaloffre .mainsection .annonce_une .titreorange
{
    height: 10%;
    margin-top: -15px;
    background-color:rgb(245,107,42);
    color: white;
    text-align: center;
    font-size: 10px; 

}
.principaloffre .mainsection .annonce_une .titreorange h2
{
    padding-top: 8px;
}
.principaloffre .mainsection .annonce_une .articleaside
{
    width: 100%;
    height:90%;
}
.principaloffre .mainsection .annonce_une .articleaside .figureaside
{
    display: flex;
    justify-content: flex-start;
     width: 100%;
    border-bottom: 1px solid #989898;
    height: 33%;
    margin: 0px;
    padding-bottom: 5px;

}
.principaloffre .mainsection .annonce_une .articleaside .figureaside:hover
 {
    background-color: rgb(230,230,230);
 } 
.principaloffre .mainsection .annonce_une .figureaside img
{
    width: 30%;
    height: 100%;
}
.principaloffre .mainsection .annonce_une .figureaside  .infoart

{
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}
.principaloffre .mainsection .annonce_une .articleaside #fignobo
{
    border-bottom: none;
}

.principaloffre .mainsection .annonce_une .figureaside .infoart .description
{
    
    color: rgb(56,115,189);
    
}
.principaloffre .mainsection .annonce_une .figureaside .infoart .prix
{
    color: rgb(245,107,42);
}

                             /*-------style annoces  for offre.html--------*/ 


.annonce_normal
{
    margin-top: 20px;
    
}


.annonce_normal .navart

{
    width:100%;
    height: 50px;
   /* border: 1px solid red;*/
    /*border-bottom: 1px solid #989898;*/
    display:inline-flex;

    

    
}
.annonce_normal .navart .nav_haut
{
    list-style-type: none;
    width: 80%;
    display:  flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #989898;
    border-left: 1px solid #989898;
    border-right:  1px solid #989898;

 }
 .annonce_normal .navart .lienvide
 {
     list-style-type: none;
     width: 20%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     border-bottom: 1px solid #989898;
 }

.annonce_normal .navart .nav_haut li
{
    
    height: 100%;
    margin-top: 0px;
    width: 100%;
    padding: 8px;
    
}

.annonce_normal .navart .nav_haut li a
{
    text-decoration: none;
    font-size: 13px;
    margin: 5px;

}

.annonce_normal .navart .nav_haut .lien1, .annonce_normal .navart .nav_haut .lien2
{
   border-right: 1px solid #989898; 
}
.annonce_normal .navart ul .lien2, .annonce_normal .navart .nav_haut .lien3
{
    border-bottom: 1px solid #989898; 
    background-color: rgb(204,204,204);
    color: black;
}
.annonce_normal .navart ul .lien2  a, .annonce_normal .navart .nav_haut .lien3 a
{
    color: black;
    font-weight: bold;
}

 
.annonce_normal .navart .nav_haut .lien1 a
{
    color: rgb(245,107,42);
    font-weight: bold;
}
 .annonce_normal .article_offre
{
    border-right:  1px solid #989898;
    border-left:   1px solid #989898;
    border-bottom:   1px solid #989898;
    /*padding: 10px;*/
}
.annonce_normal .navart .nav_haut .lien1:hover, .annonce_normal .navart ul .lien2:hover, .annonce_normal .navart .nav_haut .lien3:hover
 {
    
    background-color: white;
 }

.annonce_normal .navart .nav_haut .lien1:hover a, .annonce_normal .navart ul .lien2:hover a, .annonce_normal .navart .nav_haut .lien3:hover a
{

   text-decoration: underline;
    color:rgb(245,107,42); 
 }


                              

                              /*----------style select for offre.html--------*/  

.annonce_normal .article_offre #offre_select
{
    margin: 20px 2%;
    width: 95%;
    padding: 10px;
    border: 1px solid rgb(158,183,233);
    background-color: white;
    border-radius: 5px;

}
.annonce_normal .article_offre #offre_select option
{
    font-size: 12px;
    color: rgb(70,131,215);
}

.article_offre .nav-article
 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
 }
.article_offre .nav-article .list_offre
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #989898;
}
.article_offre .nav-article .list_offre:hover
{
    background-color: rgb(220,220,220);
}

.article_offre .nav-article .list_offre .image_art
{
    width: 30%;
    margin-left:15px;
    height: 80%;
    margin-top: 20px
}
.article_offre .nav-article .list_offre .image_art a 
{
    width: 100%;
    height: 100%;
}
.article_offre .nav-article .list_offre .image_art a img
{
    width: 100%;
    height: 100%;
}


.article_offre .nav-article .list_offre .desart
{
     width: 50%;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
    font-size: 13px;
}
.article_offre .nav-article .list_offre .desart .titre-art
 {
    color:rgb(67,134,202);
    font-weight: bold;
    font-size: 18px;
 }
.article_offre .nav-article .list_offre .desart .prix .auj 
{
    float: right; 
}



.article_offre .nav-article .list_offre .prix .prix1
{
    color: rgb(245,107,42);
    font-weight: bold;
}

.article_offre .nav-article .list_offre .coeur
{
    color: rgb(204,204,204);
}








        /* ==========================================================================
                                       Start tablet css
         ========================================================================== */





        

@media (min-width:720px)
{
          /*---------------------- style index.html for Tablet-------------------------*/ 
          /*---------------------------------------------------------------------------*/  
    .notablette
    {
        display: none;
    } 
    .principalsect 
    {
        width: 98%;
    } 
    .principalsect h1

    { 
       width: 45%;
       font-size: 13px; 
     }

             
                            /*-------style tabletsect for tablette*/
    .principalsect  #tabletsect
    {

        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
       /* border:1px solid green;*/
        height: 450px;
        width: 100%;
           
    }
                       /*---------style asidetablet for tablet-----*/ 
    #tabletsect #asidetablet
    {
       
        height: 95%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-bottom: 0px;
        
     }

      #tabletsect #asidetablet .depo-recher

      {
         justify-content: space-around;
         height: 30%;
      }   
        
    #tabletsect #asidetablet .depo-recher button
    {
        width: 100%;
        padding: 10px;
       
    }

    .principalsect #tabletsect .mapfrance
     {
        
        height: 100%;
        width: 55%;

     }
     .principalsect #tabletsect .mapfrance img
     {
        height: 100%;
        width: 100%;
     }
     #tabletsect #asidetablet .actuaaside
     {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(102,102,102);
        width: 100%;
        height: 70%;
     }
                          /*-------style actaaside image for tablette-------*/

     #tabletsect .art-actual .actuaaside img
    {
        width: 100%;
        height: 80%;
        
      
    }
    .actuaaside .actuaaside-entete
     {
        height: 15%;
        width: 100%;
        background-color: rgb(102,102,102);
        text-align: center;
    }
     #tabletsect .art-actual .actuaaside  .actuaaside-entete h3
     {
        font-size: 12px;
        color:white;
     
     }

    
            /*----------------------desposer annonce for Tablet--------------------*/ 
            /*---------------------------------------------------------------------*/


    .depoannonce .formulaire form .form1 .elemtform .images .image .imgmobile 
      
    {
        display:none;

    }

    .depoannonce .formulaire form .form1 .elemtform .images .image  .imgtablet 
    {
        display:block;
        
    }
    

    .depoannonce .formulaire form .form1 .elemtform .images .image .img1
    {
        width: 23%;
        height: 25%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

   .depoannonce .formulaire form .form1 #localtablet
    {
        width: 98%;
        margin:auto;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;

    }
    .depoannonce .formulaire form .form1 #localtablet figure
    {
        border:1px solid rgb(102,102,102);
        width: 70%;
        margin-right: 0px;

    }
    .depoannonce .formulaire form .form1 #localtablet figure img
    {
        margin:10px 10%;
    }

    .depoannonce .formulaire form .form1 .inputs .labelinput
    {
        
        align-items: flex-start;
    }

    .depoannonce .formulaire form .form1 .inputs .labelinput input, .depoannonce .formulaire form .form1 .inputs label, .depoannonce .formulaire form .form1 .elemtform input
    {
        margin-top:5px;
        margin-bottom: 5px;
        width: 80%;
    }

    #particulier, #offre, #demande, #professionel
    {
            width: auto;
    }

    .depoannonce .formulaire form .form1  .inputs .labelinput #ville, .depoannonce .formulaire form .form1  .inputs .labelinput #adresse
    {
    
        padding: 5px;
        width: 80%;
    
    }
    .depoannonce .formulaire form  #inpuannce
    {
        width: 20%;
        padding: 12px;
    }

    #annocefooter 
    {
        height: 100px;
    }
    #annocefooter .copyright #tabletp
    {
        font-size: 12px;
        margin-left: 50px;
    }


        /*----------------------Offre for Tablet----------------------------*/  

        /*------------------------------------------------------------------*/
    .principaloffre .mainsection
     {
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;


     }
    .principaloffre .mainsection .annonce_une
    {
        flex:0.65;
        height: 700px;
        
    }
    .principaloffre .mainsection .annonce_une .articleaside .figureaside
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        height: 200px;

        border-bottom: 1px solid #989898;
        /*border:1px solid red;*/
        margin-bottom: 10px;
    
        
        /*padding-bottom: 5px;*/

    }
    .principaloffre .mainsection .annonce_une .figureaside img
    {
        width:50%;
        height: 70%;
    }
    .principaloffre .mainsection .annonce_une .figureaside  .infoart

    {
        /*margin-left: 20px;*/
        font-weight: bold;
         display: block;

        f/*lex-direction: column;
        justify-content: center;*/
        font-size: 12px;
    }

    .principaloffre .mainsection  .annonce_normal
    {
        flex: 2;
        order:-1;
        margin-right: 15px;
        margin-top: 0px;
    }
    .article_offre .nav-article .list_offre .coeur
    {
        
        margin:15px;
    }







}








/* ==========================================================================
                                    Start desktop css
   ========================================================================== */
             


@media (min-width:1024px)
{
                /*----------------------Accueill for Desktop--------------------*/ 

 .nodesktop
 {
    display: none;
 }
 .nomobile
 {
    display: block;
 }
                  /*----------- style header for desktop------------*/

header
{
     display: flex;
    flex-direction:row;
    justify-content:space-around;
    height: 60px;
    align-items:  center;
    width: 100%;
}

 header .logo
{
        
     height: 60%;
     width: 12%;
     margin:0 1%;
        
  
}

header .logo img
 {
    width:100%;
    height: 100%;
}
 header .menuheader
 {
    
    width: 60%;

 }
header .menuheader .menuboncoin

{
    display :flex;
    align-self: center;
    align-content: center;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 0px;
    width:100%;


}

header .menuheader .menuboncoin li
{
     /*margin:0 1%;*/
     align-items: center;
}

header .menuheader .menuboncoin li a
{
    text-decoration: none;
    color:white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
header .menuheader .menuboncoin li a:hover
{
    text-decoration: underline;
}

header  .connexion

{
    width: 11%;
    height: 100%;
    border-left:1px solid white;
    border-right: 1px solid white;

}
header  .connexion button
{
    width: 100%;
    height: 100%;
    border:none;
    background-color: rgb(245,107,42);
    color:white;
    font-size: 12px;
}
header  .connexion button:hover
{
    background-color: white;
    color:rgb(245,107,42);
}

       
                /*--------------Style pricipalsect for desktop----------*/



 .principalsect h1

{ 
       width: 30%;
       font-size: 15px; 
}

             
                            /*-------style tabletsect for desktop*/

.principalsect  #tabletsect
{

    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    width: 100%;
           
}
.principalsect #tabletsect .menudroite
{
    display:block;
    /*width: 100%;*/
    height: 100%;
    flex:0.7;
    

}
.principalsect #tabletsect .menudroite ul li
{
    list-style-type: none;
    text-align: right;
    line-height: 1.2em;
   
}
.principalsect #tabletsect .menudroite ul li a
{
    text-decoration: none;
    font-size: 13px;
    color: rgb(61,106,190);
    font-weight: bold;


}



                       /*---------style asidetablet for desktop-----*/ 
    #tabletsect #asidetablet
    {
       
        height: 95%;
         
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-bottom: 0px;
        flex:0.8;
     }

      #tabletsect #asidetablet .depo-recher

      {
         justify-content: space-around;
         height: 30%;

      }   
        
    #tabletsect #asidetablet .depo-recher button
    {
        
        padding: 10px;
       
    }

    .principalsect #tabletsect .mapfrance
     {
        
        height: 100%;
        /*width: 100%;*/
        flex:1;
        margin-left: 30px;

     }
     .principalsect #tabletsect .mapfrance img
     {
        height: 100%;
        width: 100%;
     }
     #tabletsect #asidetablet .actuaaside
     {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(102,102,102);
        width: 100%;
        height: 70%;
     }
                          /*-------style actaaside image for desktop-------*/

     #tabletsect .art-actual .actuaaside img
    {
        width: 100%;
        height: 80%;
        
      
    }
    .actuaaside .actuaaside-entete
     {
        height: 13%;
        width: 100%;
        background-color: rgb(102,102,102);
        text-align: center;
    }
     #tabletsect .art-actual .actuaaside  .actuaaside-entete h3
     {
        font-size: 12px;
        color:white;
     
     }

           /*---------------------style description section for desktop---*/


    .description
    {
        width: 98%;
        margin:60px auto;
        font-size: 12px;
        font-weight: bold;
        text-align: justify;
    }
    .description a
    {
        text-decoration: none;
        color: rgb(61,106,190);

    }
                 


                 /*------------start style annoces section for desktop*/                           

   .annonces
   {
        background-color: rgb(242,242,242);
        display:flex;
        justify-content: space-around;
        align-items:  flex-start;

   }
   .annonces .nav_lien
   {
        
   }
    .annonces .nav_lien ul
    {
        list-style-type: none;

    }
     .annonces .nav_lien ul li
    {

     }
    .annonces .nav_lien ul li a
    {
        text-decoration: none;
        color:rgb(61,118,203);
        font-size: 13px;
    }
    .annonces .nav_lien ul .titre
    {
        border-bottom:1px solid  rgb(219,219,219);
        margin-bottom: 8px;
        margin-top: 15px;
    }

   .annonces .nav_lien ul .titre a
   {
       text-transform: uppercase;
       margin-bottom: 12px;
    }


        /*---------------------style  footerfor desktop---*/

    footer
    {
        
        margin: auto;

    }
    footer .haut_footer
    {
       display: flex;
       justify-content: space-around;
       color: white;
       font-size: 15px;
       align-items: flex-start;
      

    }

    footer .haut_footer .artfooter     
    {
       
        width: 20%;
    }

     footer .haut_footer .artfooter .titre

     {
       text-transform: uppercase;
       font-size: 13px;
       font-weight: bold;
       margin-bottom: 15px;
       border-bottom:  1px solid rgb(102,102,102);
    
     }

    footer .haut_footer .artfooter ul

    {
        list-style-type: none;
        padding: 0px;
        line-height: 2.5em;

    }
     footer .haut_footer .artfooter ul a
     {
        text-decoration: none;
        color:white;
        font-size: 13px;
     }

    footer .haut_footer .artfooter ul .titre
    {
        border-bottom:1px solid  rgb(219,219,219);
        margin-bottom: 8px;
        margin-top: 15px;
    }

     footer .haut_footer .artfooter ul .titre a
   {
       text-transform: uppercase;
       margin-bottom: 12px;
    }


    footer .haut_footer .lien_google
    {
        display: flex;
        justify-content: space-around;
    }
    footer .haut_footer .lien_google li a img
    {
        width: 120px;
        height: 30px;

    }
    footer .haut_footer .artfooter form
    {
        width:100%;
        margin:auto;
    }

    footer .haut_footer .artfooter form select
    {
       width: 100%;
       padding: 5px;
       color: black 
    }
    footer .milieu_footer
    {
        text-align: center;
        font-size: 13px;
        color:white;
    }

    footer .copyright 
    {
        

     } 
    footer .copyright .left
    {

        font-size: 15px;
        margin-left: 5px;
    }

    footer .droite p
    {
        font-size: 15px;
    } 

    footer .droite  .fa-facebook-square
    {
        
        font-size: 20px;
    }
    footer .droite   .fa-twitter-square          
    {
  
        font-size: 20px;
    }





        /*----------------------desposer annonce for Desktop--------------------*/  
        /*----------------------------------------------------------------------*/





    .depoannonce .formulaire form .form1 .elemtform select
    {
        width: 50%;
        padding:3px;
    }
    .depoannonce .formulaire form .form1 .elemtform input[type="textearea"], .depoannonce .formulaire form .form1 .elemtform input[type="texte"], .depoannonce .formulaire form .form1 .elemtform input[type="tel"] 
    {
        width: 50%;
        padding: 5px;
    }
    .depoannonce .formulaire form .form1 .elemtform #prix
    {
        width: 30%;
    }
     
    .depoannonce .formulaire form .form1 .elemtform .images .image
    
    {
        width: 80%;
    }    
    .depoannonce .formulaire form .form1 .elemtform .images .image .img1
    {
        width: 20%;
        height: 25%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .depoannonce .formulaire form .form1 #inpudesktop input
    {
        width: 30%;

    }
    .depoannonce .formulaire form .form1 #inpudesktop #masquer, .depoannonce .formulaire form .form1 #inpudesktop #soliciter
    {
        width: auto;
    }

            /*----------------------Offre for Desktop---------------------------*/  

}




           










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
