/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
                        Start Mobile first
   ========================================================================== */
                       /*--------Commun ruls---------*/


     *{
        box-sizing: border-box;
        /*margin: 0;*/
     } 
     .nomobile 
     {
        display: none;
     }                
            /*----------------------Accueill for mobil--------------------*/


                             /*----------header style------*/       
     header 
     {
        display:flex;
        justify-content: flex-end;
        height: 50px;
        background-color: rgb(245,107,42);
        align-items:  center;
        flex-direction: row-reverse;

     }

     header .logo
     {
         width: 40%;
         height: 60%;
         align-self: center;
        margin:0 20%;



     }
     header .logo img
     {
        width: 100%;
        height: 100%;
     }
     
     header .menumobile
     {
        width: 65px;
        height: 41px;
        align-self: flex-end;

       
        border: 1px solid transparent;
     }
     header .menumobile button
     {
        padding: 8px;
        background-color: white;
        color:rgb(245,107,42);
        border:none; 
        font-size: 14px;
        border-radius: 4px;
        margin-left: 10px;
     }                  
                            /*---------- style pricipal section------*/  

     .principalsect
     {
        width: 90%;
        margin:auto;
     }
     
     .principalsect  h1
     {
        font-size: 15px;
        font-family: "OpenSansSemiBold",sans-serif

     }
      .principalsect h1 span
      {
        color: rgb(247,120,42);
      }

     .principalsect .map-and-aticle
     {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;

     }
     .principalsect .map-and-aticle .art-actual
     {
        width: 100%;
        height: 120px;
       margin-bottom: 30px;
     }
                 
                                  /*--------------style button rechercher ---------------*/   

     .principalsect .map-and-aticle .art-actual .depo-recher
     {
        display :flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: center;

     }


     .principalsect .map-and-aticle .art-actual .depo-recher button
     {
        min-width: 53%;
        background-color: rgb(76,148,239);
        color:white;
        border:none;
        padding: 8px;
        border-radius: 4px;
        font-size: 14px;
     }
     .principalsect .map-and-aticle .art-actual .depo-recher .boutondeux
     {
        background-color: white;
        color:rgb(76,148,239);
        border:1px solid rgb(76,148,239);
        font-size: 13px;
     }
     .principalsect .map-and-aticle .art-actual .depo-recher button i
     {
        font-size: 14px;
        margin-right: 5px;
     }
     .principalsect .map-and-aticle .art-actual .depo-recher .boutondeux:hover
     {
          background-color: rgb(217,230,247);

     }   
      
                             /*--------------style mapfrance---------------*/   

     .principalsect .map-and-aticle .mapfrance
     {
        width: 90%;
     }
     .principalsect .map-and-aticle .mapfrance img
     {
        width: 100%;
     }

                            /*---------style select choix région------------*/
    .principalsect  .choisregion
    {

        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
   .principalsect  .choisregion form
   {
        width: 100%;

   }
   .principalsect  .choisregion form select
   {
        width: 100%;
        padding: 8px;
        
   }
                            /*--------------style actualite article---------------*/   
   .principalsect .map-and-aticle .actualite
   {
        width: 100%;
        margin: auto;
        border:1px solid green;

   }
   .principalsect .map-and-aticle .actualite  figure
   {
        width: 100%;
        border:1px solid pink;
        margin:auto;

   }
   .principalsect .map-and-aticle .actualite  figure img
   {
      width: 100%;
   
    }
                        /*--------------style  le boncoin description section---------------*/  

 .description
 {
    width: 90%;
    margin: auto;
    font-size: 14px;
    text-align: justify;
 }
 .description a
 {
    text-decoration: none;
 }
                     
                   /*--------------style footer  fo mobile---------------*/ 
 footer
 {
    background-color: rgb(71,71,71);
 } 

 footer .copyright 
 {
    display :flex;
    justify-content: space-between;
    /*align-items: center;*/

 } 

 footer .left
 {

    font-size: 15px;
    color: white;
    margin-left: 5px;
 }
 footer .droite i
 {
    margin: 5px 5px;
 } 

 footer .droite  .fa-facebook-square
 {
    color: rgb(59,89,152);
    font-size: 30px;
     
 }
 footer .droite   .fa-twitter-square          
 {
  
   color:#00b0ed; 
   font-size: 30px;
 }
 
                      






            /*----------------------desposer annonce for mobil--------------------*/ 






                 /*----------------------Offre for mobil--------------------*/  
    
                            

/* ==========================================================================
                                Start tablet css
   ========================================================================== */


        

@media (min-width:720px)
{
          /*---------------------- style index.html for Tablet-------------------------*/ 
      
    .notablette
    {
        display: none;
    } 
    .principalsect 
    {
        width: 98%;
    } 
    .principalsect h1

    { 
       width: 45%;
       font-size: 13px; 
     }

             
                            /*-------style tabletsect for tablette*/
    .principalsect  #tabletsect
    {

        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
        border:1px solid green;
        height: 450px;
        width: 100%;
           
    }
                       /*---------style asidetablet for tablet-----*/ 
    #tabletsect #asidetablet
    {
       
        height: 95%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-bottom: 0px;
        
     }

      #tabletsect #asidetablet .depo-recher

      {
         justify-content: space-around;
         height: 30%;
      }   
        
    #tabletsect #asidetablet .depo-recher button
    {
        width: 100%;
        padding: 10px;
       
    }

    .principalsect #tabletsect .mapfrance
     {
        /*border:1px solid orange;*/
        height: 100%;
        width: 55%;

     }
     .principalsect #tabletsect .mapfrance img
     {
        height: 100%;
        width: 100%;
     }
     #tabletsect #asidetablet .actuaaside
     {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(102,102,102);
        width: 100%;
        height: 70%;
     }
                          /*-------style actaaside image for tablette-------*/

     #tabletsect .art-actual .actuaaside img
    {
        width: 100%;
        height: 80%;
        
      
    }
    .actuaaside .actuaaside-entete
     {
        height: 15%;
        width: 100%;
        background-color: rgb(102,102,102);
        text-align: center;
    }
     #tabletsect .art-actual .actuaaside  .actuaaside-entete h3
     {
        font-size: 12px;
        color:white;
     
     }
    
            /*----------------------desposer annonce for Tablet--------------------*/  
        /*----------------------Offre for Tablet----------------------------*/  

}


/* ==========================================================================
                                    Start desktop css
   ========================================================================== */
             


@media (min-width:1024px)
{
                /*----------------------Accueill for Desktop--------------------*/ 

 .nodesktop
 {
    display: none;
 }
 .nomobile
 {
    display: block;
 }
                  /*----------- style header for desktop------------*/

header
{
     display: flex;
    flex-direction:row;
    justify-content:space-around;
    height: 60px;
    align-items:  center;
    width: 100%;
}

 header .logo
{
        
     height: 60%;
     width: 12%;
     margin:0 1%;
     /*border:1px solid red;*/
           
  
}
header .logo img
 {
    width:100%;
    height: 100%;
}
 header .menuheader
 {
    /*border:1px solid yellow;*/
    width: 60%;

 }
header .menuheader .menuboncoin

{
    display :flex;
    align-self: center;
    align-content: center;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 0px;
    width:100%;


}
header .menuheader .menuboncoin li
{
     /*margin:0 1%;*/
     align-items: center;;
}
header .menuheader .menuboncoin li a
{
    text-decoration: none;
    color:white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

header  .connexion

{
    width: 11%;
    height: 100%;
    border-left:1px solid white;
    border-right: 1px solid white;

}
header  .connexion button
{
      width: 100%;
      height: 100%;
      border:none;
      background-color: rgb(245,107,42);
      color:white;
      font-size: 12px;
}
       
                /*--------------Style pricipalsect for desktop----------*/





 .principalsect h1

{ 
       width: 45%;
       font-size: 15px; 
}

             
                            /*-------style tabletsect for desktop*/
.principalsect  #tabletsect
{

    flex-direction: row;
    justify-content: space-around;
    /*align-items: space-between;*/
    border:1px solid green;
    height: 500px;
    width: 100%;
           
}
.principalsect #tabletsect .menudroite
{
    display:block;
    /*width: 100%;*/
    height: 100%;
    flex:0.7;
    border:1px solid red;

}
.principalsect #tabletsect .menudroite ul li
{
    list-style-type: none;
    text-align: right;
    line-height: 1.2em;
   
}
.principalsect #tabletsect .menudroite ul li a
{
    text-decoration: none;
    font-size: 13px;
    color: rgb(61,106,190);
    font-weight: bold;


}



                       /*---------style asidetablet for desktop-----*/ 
    #tabletsect #asidetablet
    {
       
        height: 95%;
         
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-bottom: 0px;
        flex:0.8;
     }

      #tabletsect #asidetablet .depo-recher

      {
         justify-content: space-around;
         height: 30%;

      }   
        
    #tabletsect #asidetablet .depo-recher button
    {
        
        padding: 10px;
       
    }

    .principalsect #tabletsect .mapfrance
     {
        /*border:1px solid orange;*/
        height: 100%;
        /*width: 100%;*/
        flex:1;

     }
     .principalsect #tabletsect .mapfrance img
     {
        height: 100%;
        width: 100%;
     }
     #tabletsect #asidetablet .actuaaside
     {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(102,102,102);
        width: 100%;
        height: 70%;
     }
                          /*-------style actaaside image for desktop-------*/

     #tabletsect .art-actual .actuaaside img
    {
        width: 100%;
        height: 80%;
        
      
    }
    .actuaaside .actuaaside-entete
     {
        height: 13%;
        width: 100%;
        background-color: rgb(102,102,102);
        text-align: center;
    }
     #tabletsect .art-actual .actuaaside  .actuaaside-entete h3
     {
        font-size: 12px;
        color:white;
     
     }

           /*---------------------style description section for desktop---*/


    .description
    {
        width: 98%;
        margin:60px auto;
        font-size: 12px;
        font-weight: bold;
        text-align: justify;
    }
    .description a
    {
        text-decoration: none;
        color: rgb(61,106,190);

    }
                 


                 /*------------start style annoces section for desktop*/                           

   .annonces
   {
        background-color: rgb(242,242,242);
        display:flex;
        justify-content: space-around;
        align-items:  flex-start;

   }
   .annonces .nav_lien
   {
        
   }
    .annonces .nav_lien ul
    {
        list-style-type: none;

    }
     .annonces .nav_lien ul li
    {

     }
    .annonces .nav_lien ul li a
    {
        text-decoration: none;
        color:rgb(61,118,203);
        font-size: 13px;
    }
    .annonces .nav_lien ul .titre
    {
        border-bottom:1px solid  rgb(219,219,219);
        margin-bottom: 8px;
        margin-top: 15px;
    }

   .annonces .nav_lien ul .titre a
   {
       text-transform: uppercase;
       margin-bottom: 12px;
    }


        /*---------------------style  footerfor desktop---*/

    footer
    {
        
        margin: auto;

    }
    footer .haut_footer
    {
       display: flex;
       justify-content: space-around;
       color: white;
       font-size: 15px;
       align-items: flex-start;
      

    }

    footer .haut_footer .artfooter     
    {
       
        width: 20%;
    }

     footer .haut_footer .artfooter .titre

     {
       text-transform: uppercase;
       font-size: 13px;
       font-weight: bold;
       margin-bottom: 15px;
       border-bottom:  1px solid rgb(102,102,102);
    
     }

    footer .haut_footer .artfooter ul

    {
        list-style-type: none;
        padding: 0px;
        line-height: 2.5em;

    }
     footer .haut_footer .artfooter ul a
     {
        text-decoration: none;
        color:white;
        font-size: 13px;
     }

    footer .haut_footer .artfooter ul .titre
    {
        border-bottom:1px solid  rgb(219,219,219);
        margin-bottom: 8px;
        margin-top: 15px;
    }

     footer .haut_footer .artfooter ul .titre a
   {
       text-transform: uppercase;
       margin-bottom: 12px;
    }


    footer .haut_footer .lien_google
    {
        display: flex;
        justify-content: space-around;
    }
    footer .haut_footer .lien_google li a img
    {
        width: 120px;
        height: 30px;

    }
    footer .haut_footer .artfooter form
    {
        width:100%;
        margin:auto;
    }

    footer .haut_footer .artfooter form select
    {
       width: 100%;
       padding: 5px;
       color: black 
    }
    footer .milieu_footer
    {
        text-align: center;
        font-size: 13px;
        color:white;
    }

    footer .copyright 
    {
        

     } 
    footer .copyright .left
    {

        font-size: 15px;
        margin-left: 5px;
    }

    footer .droite p
    {
        font-size: 15px;
    } 

    footer .droite  .fa-facebook-square
    {
        
        font-size: 20px;
    }
    footer .droite   .fa-twitter-square          
    {
  
        font-size: 20px;
    }

 /*----------------------desposer annonce for Desktop--------------------*/  
            /*----------------------Offre for Desktop---------------------------*/  

}




           










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
